<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>378B0BA1-16B9-472B-9F39-2B8738CE579F</string>
	<key>title</key>
	<string>1</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
